:root {
    --color-background: #030712;
    --color-background2: #101828;
    --color-white: #fff;
    --color-text: #7c8faa;

    --font-title: "Montserrat", sans-serif;
    --font-text: "Inter", sans-serif;
}

@media (min-width: 700px) {
    header {
        .menuHamburguer {
            font-size: 1.3rem;
        }

        .barraPesquisa input {
            width: 240px;
            padding: 10px 16px;
        }

        .btnTarefa {
            button {
                display: flex;
                align-items: center;
                gap: 8px;
                padding: 10px 18px;
                font-size: 0.9rem;
                font-family: var(--font-title);
                font-weight: 600;

                span {
                    display: block !important;
                }
            }
        }

        .iconeLogin button {
            padding: 10px 16px;
            font-size: 1rem;
        }
    }

    aside {
        width: 30%;

        h2 {
            font-size: 1.4rem;
        }

        .filtrosHeader {
            h5 {
                font-size: 0.85rem;
            }
        }

        .filtrosBtns {
            gap: 12px;

            button {
                font-size: 0.9rem;
            }
        }
    }

    .mainHeader {
        padding-left: 140px;

        h3 {
            font-size: 1.1rem;
            margin-bottom: 4px;
        }

        p {
            font-size: 0.9rem;
        }
    }

    .modalLogin {
        width: 50vw;
        height: 480px;

        form {
            .loginHeader h3 {
                font-size: 3rem;
            }

            .loginFormulario {
                input {
                    padding: 10px 20px 10px 10px;
                    width: 30vw;
                }

                i {
                    margin-left: 5px;
                    font-size: 1.1rem;
                }
            }

            .loginEsquecerSenha {
                a {
                    font-size: 1rem;
                }
            }

            .loginBtn {
                button {
                    width: 25vw;
                    font-size: 1rem;
                    padding: 12px 30px 12px 15px;
                }
            }

            .criarConta {
                margin-top: 20px;

                button {
                    font-size: 1rem;
                }

                p {
                    font-size: 1rem;
                }
            }
        }
    }

    .modalCadastro {
        width: 50vw;

        .cadastroHeader h3 {
            font-size: 2.5rem;
        }

        .cadastroForm {
            gap: 15px;

            input {
                width: 30vw;
            }

            i {
                margin-left: 8px;
                font-size: 1.1rem;
            }
        }

        .cadastroBtns {

            .btnCadastro {
                width: 25vw;
                font-size: 1rem;
            }
        }
    }

    .modal {
        width: 60vw;
        height: 530px;

        .modalHeder {
            border-bottom: 1px solid #9333EA;

            h3 {
                font-size: 1.2rem;
            }

            .closeModal {
                font-size: 1.3rem;
            }
        }

        .modalContent {
            h4 {
                font-size: 1rem;
                margin-bottom: 6px;
            }

            input {
                font-size: 0.9rem;
            }

            .modalCategoria,
            .modalPrioridade {
                select {
                    font-size: 0.9rem;
                }
            }

            .modalBtns {
                justify-content: space-around;
                gap: 12px;
                margin-top: 15px;

                button {
                    padding: 10px 20px;
                    font-size: 0.9rem;
                    width: 130px;
                }
            }
        }
    }

    .card {
        .btnsCard {
            i {
                font-size: 0.9rem;
            }
        }

        .cardLevel span {
            font-size: 0.6rem;
        }

        .cardRadio {
            button {
                font-size: 1.1rem;
            }
        }
    }

    .cards {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 60vw;
        align-self: center;
    }

    .perfilLogin {
        display: flex;
        align-items: center;
        gap: 12px;

        h4 {
            font-weight: 400;
            font-size: 0.8rem;
        }

        .loginHeader {
            display: block !important;
        }
    }
}


@media (min-width: 1200px) {
    header .menuHamburguer {
        display: none;
    }

    header {
        width: calc(100% - 240px);
        margin-left: 240px;
        padding: 14px 30px;
    }

    header .barraPesquisa input {
        margin-left: 40px;
        width: 400px;
        padding: 10px 16px;
        font-size: 0.9rem;
    }

    header .perfilLogin {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    header .perfilLogin h4 {
        font-weight: 400;
        font-size: 0.8rem;
    }

    header .perfilLogin .loginHeader {
        display: block !important;
    }

    aside {
        display: flex;
        left: 0;
        width: 240px;
        box-shadow: none;
        border-right: 1px solid rgba(124, 143, 170, 0.15);
    }

    main {
        margin-left: 240px;
        padding: 30px 40px;
        display: flex;
        flex-direction: column;
        align-items: flex-start; 
    }

    .mainHeader{
        padding-left: 120px;
    }

    #overlay {
        display: none !important;
    }

    .modal {
        width: 30vw;
        max-width: 440px;
    }

    .modalLogin {
        width: 40vw;
        height: 480px;

        form {
            .loginHeader h3 {
                font-size: 3rem;
            }

            .loginFormulario {
                input {
                    padding: 10px 20px 10px 10px;
                    width: 25vw;
                }

                i {
                    margin-left: 5px;
                    font-size: 1.1rem;
                }
            }

            .loginEsquecerSenha {
                a {
                    font-size: 1rem;
                }
            }

            .loginBtn {
                button {
                    width: 20vw;
                    font-size: 1rem;
                    padding: 12px 30px 12px 15px;
                }
            }

            .criarConta {
                margin-top: 20px;

                button {
                    font-size: 1rem;
                }

                p {
                    font-size: 1rem;
                }
            }
        }
    }

    .modalCadastro {
        width: 40vw;

        .cadastroHeader h3 {
            font-size: 2.5rem;
        }

        .cadastroForm {
            gap: 15px;

            input {
                padding: 10px 20px 10px 10px;
                 width: 25vw;
            }

            i {
                margin-left: 8px;
                font-size: 1.1rem;
            }
        }

        .cadastroBtns {

            .btnCadastro {
                width: 20vw;
                font-size: 1rem;
                padding: 10px 20px 10px 10px;
            }
        }
    }

   .cards {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 60vw;
        align-self: center;
        justify-content: center;
        align-items: center;
    }

    .card{
        width: 55vw !important;
    }
}