:root {
    --color-background: #030712;
    --color-background2: #101828;
    --color-white: #fff;
    --color-text: #7c8faa;

    --font-title: "Montserrat", sans-serif;
    --font-text: "Inter", sans-serif;
}

/* ==========================================================================
   BREAKPOINT: DESKTOP INTERMEDIÁRIO / TABLET
   ========================================================================== */
@media (min-width: 850px) {
    header .menuHamburguer {
        font-size: 1.5rem;
    }

    header .barraPesquisa input {
        width: 300px;
        padding: 13px 20px;
    }

    header .btnTarefa button {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 12px 22px;
        font-size: 1.2rem;
        font-family: var(--font-title);
        font-weight: 600;
    }

    header .btnTarefa button span {
        display: block !important;
    }

    header .iconeLogin button {
        padding: 15px 22px;
        font-size: 1.2rem;
    }

    aside {
        width: 40%;
    }

    aside h2 {
        font-size: 1.8rem;
    }

    aside .filtrosHeader h5 {
        font-size: 1rem;
    }

    aside .filtrosBtns {
        gap: 20px;
    }

    aside .filtrosBtns button {
        font-size: 1rem;
    }

    .mainHeader h3 {
        font-size: 1.2rem;
        margin-bottom: 5px;
    }

    .mainHeader p {
        font-size: 1rem;
    }

    .modalLogin {
        width: 70vw;
    }

    .modalLogin form .loginHeader h3 {
        font-size: 4rem;
    }

    .modalLogin form .loginFormulario input {
        padding: 15px 30px 15px 15px;
        width: 45vw;
    }

    .modalLogin form .loginFormulario i {
        margin-left: 8px;
        font-size: 1.3rem;
    }

    .modalLogin form .loginEsquecerSenha a {
        font-size: 1.2rem;
    }

    .modalLogin form .loginBtn button {
        width: 35vw;
        font-size: 1.4rem;
        padding: 12px 30px 12px 15px;
    }

    .modalLogin form .criarConta {
        margin-top: 35px;
    }

    .modalLogin form .criarConta button {
        font-size: 1.3rem;
    }

    .modalLogin form .criarConta p {
        font-size: 1.2rem;
    }

    .modalCadastro {
        width: 70vw;
    }

    .modalCadastro .cadastroHeader h3 {
        font-size: 3rem;
    }

    .modalCadastro .cadastroForm {
        gap: 15px;
    }

    .modalCadastro .cadastroForm input {
        padding: 15px 30px 15px 15px;
        width: 45vw;
    }

    .modalCadastro .cadastroForm i {
        margin-left: 8px;
        font-size: 1.3rem;
    }

    .modalCadastro .cadastroBtns .btnCadastro {
        width: 40vw;
        font-size: 1.4rem;
        padding: 14px 30px 14px 15px;
    }

    .modal {
        width: 80vw;
        height: 85%;
    }

    .modal .modalHeder {
        border-bottom: 2px solid #9333EA;
    }

    .modal .modalHeder h3 {
        font-size: 1.6rem;
    }

    .modal .modalHeder .closeModal {
        font-size: 1.7rem;
    }

    .modal .modalContent h4 {
        font-size: 1.3rem;
        margin-bottom: 8px;
    }

    .modal .modalContent input {
        font-size: 1rem;
    }

    .modal .modalContent .modalCategoria select,
    .modal .modalContent .modalPrioridade select {
        font-size: 1rem;
    }

    .modal .modalContent .modalBtns {
        justify-content: space-around;
        margin-top: 20px;
    }

    .modal .modalContent .modalBtns button {
        padding: 15px 30px;
        font-size: 1.2rem;
        width: 200px;
    }

    .card .btnsCard i {
        font-size: 1rem;
    }

    .card .cardLevel span {
        font-size: 0.8rem;
    }

    .card .cardRadio button {
        font-size: 1.3rem;
    }

    .perfilLogin {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .perfilLogin h4 {
        font-weight: 400;
        font-size: 0.7rem;
    }

    .perfilLogin .loginHeader {
        display: block !important;
    }
}

/* ==========================================================================
   BREAKPOINT: MONITORES GRANDES (DESKTOP)
   ========================================================================== */
@media (min-width: 1400px) {
    header .menuHamburguer {
        display: none;
    }

    header {
        width: calc(100% - 300px);
        margin-left: 300px;
    }

    header .barraPesquisa input {
        margin-left: 60px;
        width: 500px;
        padding: 14px 23px;
        font-size: 1.2rem;
    }

    header .perfilLogin {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    header .perfilLogin h4 {
        font-weight: 400;
        font-size: 0.7rem;
    }

    header .perfilLogin .loginHeader {
        display: block !important;
    }

    aside {
        display: block;
        left: 0;
        width: 300px;
    }

    main {
        margin-left: 300px;
        padding: 20px 40px;
    }

    #overlay {
        display: none !important;
    }

    .modal {
        width: 45vw;
    }

    .modalLogin {
        width: 40vw;
        gap: 40px;
    }

    .modalLogin form .loginFormulario input {
        width: 25vw;
    }

    .modalLogin form .loginEsquecerSenha a {
        font-size: 1.2rem;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .modalLogin form .loginBtn button {
        width: 20vw;
        font-size: 1.4rem;
        padding: 12px 30px 12px 15px;
    }

    .modalCadastro {
        width: 40vw;
    }

    .modalCadastro .cadastroForm {
        gap: 15px;
    }

    .modalCadastro .cadastroForm input {
        padding: 15px 30px 15px 15px;
        width: 25vw;
    }

    .modalCadastro .cadastroForm i {
        margin-left: 8px;
        font-size: 1.3rem;
    }

    .modalCadastro .cadastroBtns .btnCadastro {
        width: 20vw;
        font-size: 1.4rem;
        padding: 14px 30px 14px 15px;
    }

    .cards {
        justify-content: center;
        align-items: center;
        margin-right: 100px;
    }

    .cards .card {
        width: 50vw !important;
    }

    main .mainHeader {
        margin-left: 130px;
    }
}