@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-background: #030712;
    --color-background2: #101828;
    --color-white: #fff;
    --color-text: #7c8faa;

    --font-title: "Montserrat", sans-serif;
    --font-text: "Inter", sans-serif;
}

body {
    background-color: var(--color-background);
    color: var(--color-white);
    font-family: var(--font-title);
}

header {
    display: flex;
    align-items: center;
    background-color: var(--color-background2);
    padding: 20px;
    justify-content: space-between;
    width: 100vw;
    border-bottom: 1px solid var(--color-text);

    .menuHamburguer {
        font-size: 1.3rem;
        cursor: pointer;
    }

    .barraPesquisa input {
        width: 150px;
        padding: 10px;
        border: 1px solid var(--color-text);
        border-radius: 8px;
        background-color: var(--color-background);
        color: var(--color-white);
    }

    .iconeLogin button {
        background-image: linear-gradient(to right, #6D28D9, #9333EA);
        padding: 10px 15px;
        border-radius: 50%;
        border: none;
        outline: none;
        color: var(--color-white);
        font-size: 1.1rem;
        font-family: var(--font-title);
        font-weight: 600;
        box-shadow: 0 10px 20px rgba(109, 40, 217, 0.3);
        cursor: pointer;
    }

    .btnTarefa button {
        background-image: linear-gradient(to right, #6D28D9, #9333EA);
        padding: 10px 20px;
        outline: none;
        border: none;
        border-radius: 8px;
        color: var(--color-white);
        font-size: 1rem;
        box-shadow: 0 10px 20px rgba(109, 40, 217, 0.3);
        cursor: pointer;
    }
}

.show {
    display: flex;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(3px);
    z-index: 999;
}

.overlay-active {
    display: block;
}

aside {
    padding-top: 20px;
    display: none;
    flex-direction: column;
    background-color: var(--color-background2);
    width: 60%;
    height: 100vh;
    position: fixed;
    /* Fixa o menu na tela */
    top: 0;
    left: 0;
    z-index: 1000;
    /* Garante que ele fique por cima de tudo */
    box-shadow: 10px 0 20px rgba(0, 0, 0, 0.5);

    h2 {
        padding: 10px;
        margin-bottom: 40px;
    }

    .asideContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 40px;

        .asideFiltros {
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 15px;

            .filtrosHeader {
                text-transform: uppercase;
            }
        }
    }

    .filtrosBtns {
        display: flex;
        flex-direction: column;
        text-align: left;
        align-items: flex-start;
        gap: 10px;
        margin-top: 20px;

        button {
            background-color: transparent;
            color: var(--color-text);
            border: none;
            outline: none;
            font-size: 1rem;
            padding: 10px;
            border-radius: 8px;
            width: 100%;
            text-align: left;
            font-family: var(--font-text);
        }
    }
}

.hoverFiltros {
    background-image: linear-gradient(to right, #6D28D9, #9333EA);
    color: var(--color-white) !important;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(109, 40, 217, 0.3);
}

main {
    display: flex;
    flex-direction: column;
    padding: 20px;

    .mainHeader {
        margin-top: 20px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        gap: 5px;

        p {
            color: var(--color-text);
            font-family: var(--font-text);
        }
    }

    .cards {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .card {
            background-color: var(--color-background2);
            width: 90vw;
            display: flex;
            flex-direction: column;
            gap: 10px;
            justify-content: center;
            padding: 20px;
            border-radius: 8px;
            border: 1px solid #460087;

            .cardHeader {
                display: flex;
                gap: 15px;

                button {
                    background-color: transparent;
                    color: var(--color-white);
                    border: none;
                    outline: none;
                    cursor: pointer;
                }

                .cardContent {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    p {
                        color: var(--color-text);
                        font-family: var(--font-text);
                    }
                }

                .btnsCard {
                    display: flex;
                    margin-left: auto;
                    margin-right: 8px;
                    gap: 15px;
                    margin-bottom: 25px;

                    .btnEditCard {
                        color: var(--color-text);
                        font-size: 0.7rem;
                        padding: 7px;
                        border-radius: 10px;

                        &:hover {
                            background-color: #1E2939;
                            color: #7C86FF;
                        }
                    }

                    .btnCloseCard {
                        font-size: 0.7rem;
                        padding: 7px;
                        border-radius: 10px;
                        color: var(--color-text);

                        &:hover {
                            background-color: #1E2939;
                            color: #E25C61;
                        }
                    }
                }
            }

            .cardLevel {
                margin-top: 12px;
                display: flex;
                gap: 20px;
                padding: 0 30px;
                font-size: 0.7rem;
            }

            .modalData {
                position: relative;
                bottom: 22px;
                padding: 0 20px;
                font-family: var(--font-text);
                font-size: 0.7rem;
                text-align: right;
            }
        }
    }
}

.modal {
    width: 95vw;
    height: 95%;
    margin: 0 auto;
    align-self: center;
    color: var(--color-white);
    background-color: var(--color-background2);
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 8px;

    .modalHeder {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 20px;
        border-bottom: 0.1px solid #9333EA;

        .closeModal {
            border: none;
            outline: none;
            background-color: transparent;
            color: var(--color-white);
            font-size: 1.5rem;
            cursor: pointer;
        }
    }

    .modalContent {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        padding: 10px 20px;

        input {
            padding: 14px 20px;
            background-color: #1E2939;
            border: none;
            outline: none;
            border-radius: 10px;
            color: var(--color-white);
            font-size: 0.9rem;
        }

        .modalTitle {
            display: flex;
            flex-direction: column;
            gap: 10px;

            h4 {
                font-family: var(--font-text);
                letter-spacing: 1px;
                padding: 0 3px;
            }
        }

        .modalDescricao {
            display: flex;
            flex-direction: column;
            gap: 10px;

            h4 {
                font-family: var(--font-text);
                letter-spacing: 0.5px;
                padding: 0 3px;
            }
        }

        .modalCategoria,
        .modalPrioridade {
            display: flex;
            flex-direction: column;
            gap: 10px;

            h4 {
                font-family: var(--font-text);
                letter-spacing: 0.5px;
                padding: 0 3px;
            }

            select {
                padding: 14px 20px;
                background-color: #1E2939;
                border: none;
                outline: none;
                border-radius: 10px;
                color: var(--color-white);
                font-size: 0.8rem;
            }
        }

        .modalData {
            display: flex;
            flex-direction: column;
            gap: 10px;

            h4 {
                font-family: var(--font-text);
                letter-spacing: 0.5px;
                padding: 0 3px;
            }
        }

        .modalBtns {
            display: flex;
            align-items: center;
            justify-content: space-between;

            button {
                padding: 15px 20px;
                font-size: 0.9rem;
                width: 140px;
                border-radius: 15px;
                font-family: var(--font-title);
                font-weight: 600;
                transition: all .3s ease;
                cursor: pointer;

                &:hover {
                    transform: scale(103%);
                }
            }

            .btnCancelar {
                background-color: #1E2939;
                color: var(--color-white);
                border: none;
                outline: none;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            }

            .btnAdd {
                background-image: linear-gradient(to right, #6D28D9, #9333EA);
                color: var(--color-white);
                border: none;
                outline: none;
                box-shadow: 0 10px 20px rgba(109, 40, 217, 0.3);
            }
        }
    }

}

.modal-active {
    display: flex;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.721);
}

.baixa {
    background-color: #0D3B30;
    color: #07DA72;
    border: 1px solid #07DA72;
    border-radius: 10px;
    padding: 4px 10px;
    font-weight: 600;
    font-family: var(--font-text);
}

.media {
    background-color: #3D3620;
    color: #FDBE0F;
    border: 1px solid #FDBE0F;
    border-radius: 10px;
    padding: 4px 10px;
    font-weight: 600;
    font-family: var(--font-text);
}

.alta {
    background-color: #3F1C2B;
    color: #F95E61;
    border: 1px solid #F95E61;
    border-radius: 10px;
    padding: 4px 10px;
    font-weight: 600;
    font-family: var(--font-text);
}

.trabalho {
    background-color: #162C54;
    color: #5094D9;
    border: 1px solid #5094D9;
    border-radius: 10px;
    padding: 4px 10px;
    font-weight: 600;
    font-family: var(--font-text);
}

.estudos {
    background-color: #302154;
    color: #B562E4;
    border: 1px solid #B562E4;
    border-radius: 10px;
    padding: 4px 10px;
    font-weight: 600;
    font-family: var(--font-text);
}

.pessoal {
    background-color: #3E1D3F;
    color: #FB649B;
    border: 1px solid #FB649B;
    border-radius: 10px;
    padding: 4px 10px;
    font-weight: 600;
    font-family: var(--font-text);
}

.dataText {
    color: var(--color-text);
    font-size: 0.7rem;
    position: relative;
    bottom: 7px;
    left: 15px;
    font-family: var(--font-text);
}

.concluida {
    text-decoration: line-through;
    opacity: 0.5;
    transition: all 0.3s ease;
}

.modalLogin {
    width: 95vw;
    height: 65%;
    margin: 0 auto;
    align-self: center;
    color: var(--color-white);
    background-color: var(--color-background2);
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 8px;

    .loginBtnClose {
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 1.5rem;
        color: var(--color-white);
        background-color: var(--color-background2);
        border: none;
        outline: none;
        cursor: pointer;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        align-items: center;
        height: 100%;

        .loginHeader h3 {
            font-size: 2.5rem;
        }

        .loginFormulario {
            display: flex;
            flex-direction: column;
            gap: 15px;
            align-items: center;

            input {
                padding: 10px 30px 10px 15px;
                border-radius: 16px;
                outline: none;
                background-color: transparent;
                border: 1px solid #B562E4;
                width: 60vw;
                color: var(--color-white);
            }
        }

        .loginEsquecerSenha {
            display: flex;
            align-items: center;
            gap: 18px;
            font-size: 0.9rem;
            font-weight: 700;
            font-family: var(--font-text);

            a {
                color: var(--color-white);
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .loginBtn {
            button {
                padding: 10px 30px 10px 15px;
                border-radius: 16px;
                outline: none;
                background-image: linear-gradient(to right, #6D28D9, #9333EA);
                box-shadow: 0 10px 20px rgba(109, 40, 217, 0.3);
                font-size: 1rem;
                border: none;
                font-weight: 600;
                font-family: var(--font-title);
                color: var(--color-white);
                width: 60vw;
                transition: all .4s ease;
                cursor: pointer;

                &:hover {
                    transform: scale(103%);
                }
            }
        }

        .criarConta {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 18px;
            font-size: 0.75rem;
            font-weight: 700;
            font-family: var(--font-text);

            button {
                color: var(--color-white);
                text-decoration: none;
                border: none;
                outline: none;
                background-color: transparent;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.modalCadastro {
    width: 95vw;
    height: 65%;
    margin: 0 auto;
    align-self: center;
    color: var(--color-white);
    background-color: var(--color-background2);
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 8px;

    .cadastroHeader h3{
        font-size: 2rem;
    }

    .btnCloseCadastro {
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 1.5rem;
        color: var(--color-white);
        background-color: var(--color-background2);
        border: none;
        outline: none;
        cursor: pointer;
    }

    .cadastroContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        gap: 30px;
    }

    .cadastroForm {
        display: flex;
        flex-direction: column;
        gap: 10px;

        input {
            padding: 10px 30px 10px 15px;
            border-radius: 16px;
            outline: none;
            background-color: transparent;
            border: 1px solid #B562E4;
            width: 60vw;
            color: var(--color-white);
        }
    }

    .cadastroUsuario,
    .cadastroEmail,
    .cadastroSenha {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 10px;
    }

    .cadastroBtns {
        display: flex;
        align-items: center;
        margin-top: 20px;
        gap: 30px;

        .btnCadastro {
            padding: 12px 40px;
            width: 60vw;
            border-radius: 16px;
            outline: none;
            background-image: linear-gradient(to right, #6D28D9, #9333EA);
            box-shadow: 0 10px 20px rgba(109, 40, 217, 0.3);
            font-size: 1.1rem;
            border: none;
            font-weight: 600;
            color: var(--color-white);
            transition: all .4s ease;
            cursor: pointer;

            &:hover {
                transform: scale(103%);
            }
        }
    }
}