@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-background: #030712;
    --color-background2: #101828;
    --color-white: #fff;
    --color-text: #424C5A;

    --font-title: "Montserrat", sans-serif;
    --font-text: "Inter", sans-serif;
}